
<!-- Button trigger modal -->
<button onclick="window.location.reload()" type="button" class="btn btn-lg btn-primary" data-target="#deviceDetect">
  Refresh <i class="fa-solid fa-rotate"></i>
</button>
